<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            defaultHandler="es.uca.internal.eclipse.CountImports"
            description="%command.description"
            id="es.uca.eclipse.count.imports"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.source.menu?endOf=codeGroup">
         <command
               commandId="es.uca.eclipse.count.imports"
               label="%command.name"
               mnemonic="%command.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.jdt.core.ICompilationUnit">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="es.uca.eclipse.count.actionSet"
            label="%actionSet.label"
            visible="false">
         <menu
               id="org.eclipse.jdt.ui.source.menu"
               label="%menu.label"
               path="edit">
         </menu>
         <action
               class="es.uca.internal.eclipse.CountImports"
               definitionId="es.uca.eclipse.count.imports"
               id="es.uca.eclipse.count.imports.action"
               label="%command.name"
               menubarPath="org.eclipse.jdt.ui.source.menu/codeGroup"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="es.uca.eclipse.count.actionSet">
         <part
               id="org.eclipse.jdt.ui.CompilationUnitEditor">
         </part>
      </actionSetPartAssociation>
   </extension>

</plugin>
